
.footer_container {
    color: #a4c639;
   font-weight: bold;
   background-color: #294a07;
   height: 200px;
   width: 100%;
   margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;

}
.footer_container a{
    text-decoration: none;
    color: white;
}
